-# coding: utf-8
!!! 5
%html
  %head
    %meta(charset='UTF-8')
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %title Weather trend graph of Tokyo
    %link(href='css/style.css' type='text/css' rel='stylesheet')

  %body
    %h1 Long-term temperature/precipitation trend of Tokyo
    %ul
      %li<
        %a(href='tokyo_monthly.html') Monthly (1876/1 - 2013/12)
      %li<
        %a(href='tokyo_daily.html') Daily (1949/1/1 - 2013/12/31)
      %li<
        %a(href='tokyo_hourly.html') Hourly (1990/1/1 1:00 - 2014/1/1 0:00)
